body{
margin:0;
background-image: linear-gradient((to top));
overflow-y:hidden;
}

.night{
height: 80vh;
width: 80vw;
border: 1px solid black;
margin: 5rem auto;
background:url('../images/strand.jpg');
background-size: cover;
position: relative;
box-shadow: 100px 2px 40px rgba(0,0,0,0,4);
overflow-x: hidden;
}

.surface{
height:  240px;
width: 500%;
background: url('../images/road.png');
position: absolute;
bottom:0%;
left:0%;
background-repeat: repeat-x;
animation:moveRight 8s linear infinite;





}

.bus{
position: absolute;
bottom: 0%;
left:10%;
animation: suspension 1s linear infinite;


}

@keyframes moveRight{
    100%{transform:translateX(-2950px)}
}


@keyframes suspension{
100%{
transform:translateY(-1px);
}
50%{
    transform:translateY(2px);
    }
    0%{
        transform:translateY(-1px);
        }
}

.moveRight{
    animation:moveRight 8s linear infinite;

}

.suspension{
    animation: suspension 1s linear infinite;
}



